.branded-card {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to bottom, hsl(var(--primary)), transparent);
  }

  .card {
    background-clip: padding-box;
    border: 0px solid transparent;
    background-color: hsl(var(--card));
    height: 100%;
  }

  .card-header {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .card-footer {
    padding-top: 15px;
    padding-bottom: 32px;
  }
}
